<p>about works!</p>
<img src="https://img.icons8.com/cute-clipart/80/000000/free-fire.png" />
<img src="https://img.icons8.com/plasticine/80/000000/pubg.png" />
<img src="https://img.icons8.com/color/80/000000/razer.png" />
<img src="https://img.icons8.com/fluency/80/000000/xbox.png" />
<img src="https://img.icons8.com/color/80/000000/play-station.png" />
<img src="https://img.icons8.com/plasticine/80/000000/steam.png" />
<img src="https://img.icons8.com/officel/80/000000/netflix-desktop-app.png" />
<img src="https://img.icons8.com/office/80/000000/super-mario.png" />
