<!-- <header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="p-col-4 search">
      <products-search></products-search>
    </div>
    <div class="p-col-3  navigation">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="p-col-2 tools">
      <span class="dropdown">
        <a class="dropdown-toggle item" data-toggle="dropdown">
          <ng-template #icon>
            <i class="pi pi-user p-text-secondary  "></i>
          </ng-template>
          
           <ng-template #name>
            <span class="p-text-secondary name" routerLink="/user/profile" >{{username|titlecase}}</span> 
           </ng-template>
           <ng-container *ngIf="username then name;else icon"></ng-container>
        </a>
        <div class="dropdown-menu dropdown-content">
          <div class="menu_btn_container">
            <ng-template #notAuth>
              <button pButton pRipple type="button" label="Login" class="p-button-rounded"
                (click)="navigateToAuth('login')"></button>
              <p class="text-center"><span>New Customer?</span></p>
              <a (click)="navigateToAuth('register')">Register now</a>
              <div class="dropdown-divider"></div>
            </ng-template>
            <ng-template #auth>
              <img src="assets/images/logo.png" alt="logo" />
              <button pButton pRipple type="button" label="Logout" class="p-button-rounded"
              (click)="logOut()"></button>
            <div class="dropdown-divider"></div>
            </ng-template>
            <ng-container *ngIf="username then auth;else notAuth"></ng-container>        
          </div>
        </div>
      </span>
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/images/logo.png" alt="logo" />
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <i class="fas fa-bars"></i>
    </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/products">Products</a>
      <a class="nav-item nav-link" routerLink="/contacts">Contacts</a>
    </div>

    <div>
      <products-search></products-search>
    </div>
    <div class="navbar-nav ml-auto action-buttons">
      <div class="nav-item dropdown">    
        <a data-toggle="dropdown" class="nav-link dropdown-toggle mr-4" routerLink="/login">
          <ng-template #icon>
            <i class="far fa-user" style="font-size: 2rem;"></i>
          </ng-template>
          <ng-template #name>
            <span class="p-text-secondary name" routerLink="/user/profile" >{{username|titlecase}}</span> 
          </ng-template>
          <ng-container *ngIf="username then name;else icon"></ng-container>
        </a>
        <div class="dropdown-menu">
          <ng-template #notAuth>
            <a  class="dropdown-item text-center" routerLink="/login">
              Login
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </ng-template>
          <ng-template #auth>
            <a  class="dropdown-item text-center">Logout
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </ng-template>
          <ng-container *ngIf="username then auth;else notAuth"></ng-container>    
          
        </div>
      </div>

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mr-4">
          <orders-cart-icon></orders-cart-icon>
        </a>
      </div>

    </div>
  </div>
</nav>