<header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <!-- <i class="fas fa-sign-out-alt"></i> -->
    <div class="p-col-4 search">
      <products-search></products-search>
    </div>
    <div class="p-col-3 p-offset-1 navigation">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="p-col-1 tools">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="authdropdown" data-toggle="dropdown"
          aria-expanded="false">
          <ng-template #auth>
            <span>{{username}}</span>
          </ng-template>
          <ng-template #noAuth>
            <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem"></i>
          </ng-template>
          <ng-container *ngIf="username then auth ; else noAuth"></ng-container>
        </button>

        <div class="dropdown-menu text-center" aria-labelledby="authdropdown">
          <ng-template #login>
            <a class="dropdown-item text-info" routerLink="/login">
              Login <i class="fas fa-sign-in-alt"></i>
            </a>
            <div class="dropdown-divider"></div>
            <small class="separator text-muted">New Customer?</small>
              <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item text-info" routerLink="/register">
             Register <i class="fas fa-sign-in-alt"></i>
            </a>

          </ng-template>
          <ng-template #logout>
            <a class="dropdown-item text-danger" (click)="logOut()">
              Logout <i class="fas fa-sign-out-alt"></i>
            </a>
          </ng-template>
          <ng-container *ngIf="username then logout ; else login"></ng-container>

        </div>
      </div>
      <!-- <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem"></i> -->
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>