<div class="admin-blogs-list">
  <p-card header="Blogs!" subheader="List of Blogs!">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <br /><br />
    <p-table
      [value]="blogsList"
      styleClass="p-datatable-gridlines"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Blog title !</th>
          <th>Topic !</th>
          <th>Delete / Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-blog>
        <tr>
          <td>
            <p>
              {{ blog.title|slice:0:50 }}
              <span *ngIf="blog.title.length>=50">...</span>
            </p>          
          </td>
          <td>
            <div [innerHTML]="blog.topic|slice:0:50|safehtml">
              <span *ngIf="blog.topic.length>=50">...</span>
            </div>           
          </td>
          <td>
            <p-button (click)="deleteBlog(blog._id)" styleClass="p-button-danger p-mr-2" icon="pi pi-trash">
            </p-button>
            <p-button  routerLink="form/{{blog._id}}"
              styleClass="p-button-success p-mr-2" icon="pi pi-pencil"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
