<div></div>
<div class="conatiner">
  <div class="row">
    <h3>Common Questions & Answers</h3>
    <div id="accordion" class="col-sm-12 col-md-10">
      <div class="card" *ngFor="let question of faqList; let i=index">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <!-- <a class="btn btn-link" data-toggle="collapse" href="#List-{{ i }}" aria-expanded="false" -->
            <a class="btn " data-toggle="collapse" href="#List-{{ i }}" aria-expanded="false"
              aria-controls="List-{{ i }}">
              {{question.title}}
            </a>
          </h5>
        </div>
        <div id="List-{{ i }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body" [innerHTML]="question.topic">
            <!-- <p> {{question.topic}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>