<p-card header="Wallet System" subheader="Latest Updates">
  <div class="p-grid">
    <div class="p-col-3">
      <p-card styleClass="d-orders">
        <div class="d-item">
          <div>
            <i class="pi pi-dollar"></i><br />
            <span class="name">USD</span>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-3">
      <p-card styleClass="d-products">
        <div class="d-item">
          <div>
            <i class="pi pi-euro"></i><br />
            <span class="name">EURO</span>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-3">
      <p-card styleClass="d-users">
        <div class="d-item">
          <div>
            <i class="pi pi-users"></i><br />
            <span class="name">EGP</span>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-3">
      <p-card styleClass="d-totalsales">
        <div class="d-item">
          <div>
            <i class="pi pi-dollar"></i><br />
            <span class="name">IND</span>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</p-card>
