<div class="container">
    <div class="row">
        <h5 class="mb-3">Contact us with phone call, text message or chat apps</h5>
        <section class="col-sm-6">
            <button class="btn"><i class="fas fa-phone"></i> 0105478910</button>
        </section>
        <section class="col-sm-6">
            <button class="btn"><i class="fas fa-phone"></i> 0114571824</button>
        </section>
    </div>
    <hr>
    <div class="row social-row">
        <h5 class="mb-3">Follow us on</h5>
        <div class="col">
            <button class="btn  text-white" style="background-color:rgb(31, 90, 168);">
                <i class="fab fa-facebook"></i> ngShop
            </button>
        </div>
        <div class="col">
            <button class=" btn text-white" style="background-color: rgb(32, 164, 216);">
                <i class="fab fa-twitter"></i> ngShop
            </button>
        </div>  
       <div class="col">
        <button class=" btn text-white" style="background-color: red;">
            <i class="fab fa-youtube"></i> ngShop
        </button>
       </div>
       <div class="col">
        <button class="btn text-white" style="background-color: black;">
            <i class="fab fa-instagram"></i> ngShop
        </button>
       </div>
    </div>
</div>
