<p-toast></p-toast>
<div class="admin-page">
  <p-card header={{listType}} subheader={{subHeader}}>
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button styleClass="p-button-success" label="New" icon="pi pi-plus" routerLink="form"
              (click)="createCategory()"></p-button>
          </div>
          <div *ngIf="listType !== 'Main Categories'">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText [(ngModel)]="searchText" placeholder="Search" />
            </span>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid" *ngIf="categories.length">
      <div class="p-col-12">
        <p-table *ngIf="!filteredCategories || !filteredCategories.length"
          [value]="categories | filter: searchText:'name'" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <ng-template #show>
                <th>Icon</th>
                <th>Color</th>
              </ng-template>
              <ng-container *ngIf="listType !== 'Main Categories' then show"></ng-container>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
            <tr>
              <td>
                <a (click)="updateOrGetCategory(category.id, true, category.mainCategory)">
                  {{ category.name }}</a>
              </td>

              <ng-template #value>
                <td>
                  <img *ngIf="category.icon.includes('https')" [src]="category.icon" alt="">
                  <i style="font-size: 3rem" class="pi {{category.icon}}"></i>
                  <i style="font-size: 2rem;" class="pi {{category.subicon}}"></i>
                </td>
                <td>
                  <i class="pi pi-circle-on" style="font-size: 2rem" [ngStyle]="{ color: category.color }"></i>
                </td>
              </ng-template>
              <ng-container *ngIf="listType !== 'Main Categories' then value"></ng-container>

              <td>
                <p-button (click)="deleteCategory(category.id)" styleClass="p-button-danger p-mr-2" icon="pi pi-trash">
                </p-button>
                <p-button (click)="updateOrGetCategory(category.id, false, category.mainCategory)"
                  styleClass="p-button-success p-mr-2" icon="pi pi-pencil"></p-button>
                <p-button *ngIf="!currentCategoryId" (click)="createSideCategory(category.id, category.mainCategory)"
                  styleClass="p-button-primary p-mr-2" icon="pi pi-plus"></p-button>

              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-table *ngIf="filteredCategories && filteredCategories.length"
          [value]="filteredCategories | filter: searchText:'name'" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <ng-template #show>
                <th>Icon</th>
                <th>Color</th>
              </ng-template>
              <ng-container *ngIf="listType !== 'Main Categories' then show"></ng-container>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-category>
            <tr>
              <td>
                <a (click)="updateOrGetCategory(category.id, true, category.mainCategory)">
                  {{ category.name }}</a>
              </td>

              <ng-template #value>
                <td>
                  <i style="font-size: 3rem" class="pi" [ngClass]="'pi-' + category.icon"></i>
                  <i style="font-size: 2rem;" class="pi" [ngClass]="'pi-' + category.subicon"></i>
                </td>
                <td>
                  <i class="pi pi-circle-on" style="font-size: 2rem" [ngStyle]="{ color: category.color }"></i>
                </td>
              </ng-template>
              <ng-container *ngIf="listType !== 'Main Categories' then value"></ng-container>

              <td>
                <p-button (click)="deleteCategory(category.id)" styleClass="p-button-danger p-mr-2" icon="pi pi-trash">
                </p-button>
                <p-button (click)="updateOrGetCategory(category.id, false, category.mainCategory)"
                  styleClass="p-button-success p-mr-2" icon="pi pi-pencil"></p-button>
                <p-button *ngIf="!currentCategoryId" (click)="createSideCategory(category.id, category.mainCategory)"
                  styleClass="p-button-primary p-mr-2" icon="pi pi-plus"></p-button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>